body {
  background: #f9f9f9 image-url("layout/body-background.png");
  padding: 0 0 50px;

  .navbar-static-top {
    &.navbar-inverse {
      background-color: rgba(#222, 0.4);
      border: 0;
      border-bottom: 1px solid rgba(#222, 0.5);
    }
    p {
      color: #fff;
      font-style: italic;
      margin: 0;
      padding: 15px;
      text-align: center;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .page-container {
    margin: auto;
    max-width: 800px;
  }
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

.news-items-header {
  h3 {
    margin: 0;
  }
  em {
    display: block;
    margin-top: 5px;
  }
}

$spacer-x: 20px;
$spacer-y: 20px;

.m-b-1 {
  margin-bottom: $spacer-y !important;
}
.m-b-2 {
  margin-bottom: ($spacer-y * 1.5) !important;
}

.m-b-3 {
  margin-bottom: ($spacer-y * 2) !important;
}

.m-l-1 {
  margin-left: $spacer-x !important;
}

.m-t {
  margin-top: ($spacer-y / 2) !important;
}
.m-t-1 {
  margin-top: $spacer-y !important;
}
.m-t-2 {
  margin-top: ($spacer-y * 1.5) !important;
}
.m-t-3 {
  margin-top: ($spacer-y * 2) !important;
}
